.Menu {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0 0 var(--space-lg);
}

.Menu__link a {
  display: block;
  padding: var(--space-md);
  background-color: var(--color-dark-3);
  margin-right: var(--space-sm);
  text-decoration: none;
}

.Menu__link a.active {
  background-color: var(--color-dark-3);
}
