:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;

  --gif-width: 248px;
  --page-width: 1040px;

  --color-primary: #944b9e;

  --color-dark-1: #080808;
  --color-dark-2: #1b1b1b;
  --color-dark-3: #2c2c2c;
  --color-dark-4: #3b3b3b;

  --color-light-1: #ffffff;
  --color-light-3: #808080;
}

body {
  margin: 0;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
  letter-spacing: -0.003em;
  line-height: 32px;
  color: var(--color-light-3);
  background-color: var(--color-dark-2);
}

a {
  color: var(--color-light-3);
}
